.shopinglist-textarea {
  width: 200px;
  height: 25px;
  border: 1px solid darkgray;
  border-radius: 2px;
}

input[type=text] {
  width: 100%;
  margin: 0px;
  background: #ffffff;
  border-bottom: 1px solid #0058AB;  
  outline: none;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 7px;
  touch-action: manipulation;
}

input[type=text]:focus {
  background-color: rgb(255, 255, 255); 
  transition: .3s cubic-bezier(.25,.8,.5,1);
  -webkit-transition: .33s cubic-bezier(.25,.8,.5,1);
  width: 100%;
  border-bottom: 2px solid #0058AB; 
  border-radius: 7px; 
  transform: scaleX(1);
  touch-action: manipulation;  
}

input[type=text]::after {
  transition: .3s cubic-bezier(.25,.8,.5,1);
  -webkit-transition: .3s cubic-bezier(.25,.8,.5,1);
  width: 100%;
  border-bottom: 2px solid #0058AB;  
  transform: scaleX(1); 
  touch-action: manipulation; 
}









.shoppinglist-items {
  display: flex;
  width: 350px;
  flex-direction: column;
  gap: 10px;
}

.inputText {
  font-size: 16px;
  width: 200px;
  height: 35px;  
}
